<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HUMAS News Maker V2 | Selected</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/selected.css')}}"
    />
  </head>

  <body>
    <a class="back-btn" href="/"><- Kembali</a>

    <div class="container">
      <h1>Berita Terpilih</h1>

      <!-- <div class="search-box">
        <form action="/" method="GET" class="search-form">
          <input
            type="text"
            name="search"
            class="search-input"
            placeholder="Cari judul atau kategori berita..."
            value="{{ search_query }}"
          />
          <button type="submit" class="btn-search">Cari</button>
        </form>
      </div> -->

      <div class="news-list"></div>
    </div>

    <div class="bottom-action-bar">
      <form id="url-input-form">
        <input
          id="url-input"
          name="url"
          placeholder="Masukkan URL web berita..."
        />
        <button type="submit" id="url-input-submit">Tambahkan</button>
      </form>

      <button id="btn-generate" class="btn-action btn-generate" type="button">
        Generate DOCX
      </button>
    </div>

    <script src="{{url_for('static', filename='js/selected.js')}}"></script>
  </body>
</html>
